<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OutlookUser" value="supriyaatkare@outlook.com"/>
    <add key="OutlookPass" value="india@12345"/>
    <add key="OutlookServer" value="smtp.live.com"/>
    <add key="OutlookServerPort" value="587"/>
    <add key="NpritingUserName" value="sonali.nimkarde"/>
    <add key="NpritingPassword" value="India@123456"/>
    <!--<add key="NPrintingAuthentication" value="https://34.195.204.223:4993/api/v1/login/ntlm"/>
    <add key="NPrintingGetFilters" value="https://34.195.204.223:4993/api/v1/filters/"/>
    <add key="NPrintingPutFilterField" value="https://34.195.204.223:4993/api/v1/filters/5382974f-bd1e-4866-9785-09b4a4c5c1c2"/>
    <add key="NPrintingPutGetTaskExecution" value="https://34.195.204.223:4993/api/v1/tasks/"/>-->
    <add key="NPrintingAuthentication" value="https://localhost:4993/api/v1/login/ntlm"/>
    <add key="NPrintingGetFilters" value="https://localhost:4993/api/v1/filters/"/>
    <add key="NPrintingPutFilterField" value="https://localhost:4993/api/v1/filters/5382974f-bd1e-4866-9785-09b4a4c5c1c2"/>
    <add key="NPrintingPutGetTaskExecution" value="https://localhost:4993/api/v1/tasks/"/>
  
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=35.188.173.90;Initial Catalog=OTIS_Subscription;User ID=batchadmin;Password=Agility123$" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>